{% extends 'course/base.html' %}

{% load static %}
{% block content %}
{% include 'course/more_info.html' %}

<div class="">
    <div class="section-courses">
        <div class="left">
            <div class="courses-top">
                <h3 class="title">Courses</h3>
            </div>


            {% for object in object_list %}
            <div class="card mb-3" style="max-width: 840px;">
                <a href="{{ object.get_absolute_url }}">
            <div class="row g-0">
                    <div class="col-md-4" style="height:48; width:48px;">
                        <img src="{% static object.thumbnail.url %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ object }}</h5>
                            <p class="card-text">{{object.description}}</p>
                            <div class="card_bottom">

                                <span class=" course_membership">
                                    {% for membership in object.allowed_memberships.all %}
                                    {{membership.membership_type}}

                                    {% endfor %}
                                </span>
                                <p class="card-text"><small class="text-muted">Last updated {{object.updated}}</small>
                                </p>



                            </div>
                        </div>
                    </div>
            </div></a>

        </div>
        {% endfor %}
    </div>
    <div class="right">
        <div class="upcoming-top ">
            <h3 class="title">
                Upcoming Courses
            </h3>

        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 style="font-weight: 700;" class="card-title">Strategy,Design, Development</h5>
                <p class="card-text">{{x}}Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem aspernatur
                    fugit.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <h5 style="font-weight: 700;" class="card-title">Strategy,Design, Development</h5>
                <p class="card-text">{{x}}Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem aspernatur
                    fugit.
                    </p>
            </div>
        </div>
       
    </div>



</div>
</div>
{% endblock %}