<div class="section_moreinfo">
    <div class="container ">

        <div class="moreinfo">
            <div class="moreinfo-left">
                <h1>Learn With Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae at ex quia quos quam ratione
                    quaerat
                    dolore
                    culpa delectus soluta iusto, reiciendis provident eos, et possimus ipsa voluptate perspiciatis
                    laboriosam!
                </p>

                <div>
                    <button type="button" class="page-btn">Read More</button>

                </div>

            </div>
            <div class="moreinfo-right">
            </div>
        </div>

    </div>
</div>