{% extends 'course/base.html' %}


{% block content %}
{% include 'course/more_info.html' %}

<div class="container">
    <div class="section-membership">
        <h1 class="membershiptop">Select a membership</h1>
        <div class="row">
            {% for object in object_list %}
            <div class="membership_plan col-4">
                <div class="card" style="width: 28rem;">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">{{ object.membership_type }}</h5>
                        </div>
                        <div>
                            <h6 class="card-subtitle mb-2 text-muted">Included Courses</h6>
                            <p class="card-text mb-2 text-muted" style=" display: flex;">
                                {% for course in object.course_set.all %}
                            <p> ->{{ course.title }} </p>
                            {% endfor %}
                            </p>
                        </div>
                        <div>
                            <p class="membershipprice card-text">Price: ${{ object.price }}<small>/month</small></p>

                            {% if object.membership_type != 'Free' %}
                            <form method="POST" action="{% url 'memberships:select' %}">
                                {% csrf_token %}
                                {% if object.membership_type != current_membership %}
                                <button class="btn btn-warning">Select</button>
                                {% else %}
                                <small>This is your current membership</small>
                                {% endif %}
                                <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                            </form>
                            {% endif %}
                        </div>


                    </div>
                </div>


            </div>
            {% endfor %}
        </div>
    </div>

</div>



{% endblock content %}