{% extends 'course/base.html' %}
{% load static %}


{% block content %}
<div class="container mt-8">
    <div class="section-profile">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card p-3 py-4">
                    <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="52"
                        height="52" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    </div>
                    <div class="text-center mt-3">
                        <h5 class="mt-2 mb-0">{{request.user}}</h5> <span>{{request.user.phone}}</span>
                        {% if user_subscription != None %}
                        <div class="d-flex justify-content-evenly align-items-center mt-4 px-4">
                            <div class="stats">
                                <h6 class="mb-0">Membership</h6> <span>{{ user_membership.membership.membership_type
                                    }}</span>
                            </div>
                            {% if user_subscription.active != False %}

                            <div class="stats">
                                <h6 class="mb-0">Expiry</h6> <span>{{ user_subscription.get_next_billing_date }}</span>
                            </div>
                            <div class="stats">
                                <a href="{% url 'memberships:cancel' %}" class="btn btn-outline-warning px-4">Cancel
                                    Membership</a>
                            </div>



                            {% endif %}
                        </div>
                        {% else %}
                        <p>You have a free membership plan. To Change the plan,

                        </p>
                        <p><a class="btn btn-warning" href="{% url 'memberships:select' %}">Upgrade</a>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}