{% extends 'course/base.html' %}

{% block content %}




<div class="container p-0">
    <div class="section-checkout">
        <div class="card px-4">
            <h3 class="h8 py-3">Payment Details</h3>
            <div class="row gx-3">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Selected Membership</p>
                        <p class="form-control mb-3" type="text" placeholder="Name" value="Barry Allen">
                            {{selected_membership}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Phone Number (STK push will be send to this number)</p>
                        <p class="form-control mb-3" type="text" placeholder="1234 5678 435678">{{request.user.phone}}
                        </p>
                    </div>
                </div>

                <form action="." method="post" id="payment-form">
                    {% csrf_token %}
                    <button style="background-color:burlywood" class="btn btn-primary mb-3"> <span class="ps-3">Pay
                            ${{selected_membership.price}}</span> <span class="fas fa-arrow-right"></span> </button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}