@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
:root {
  --colorbackgrounddark: #1b817c;
  --colorbackgroundlight: #fff;
  --colortextdark: #000;
  --colortextlight: #fff;
  --colorbtnlight: #f2a433;

  --titletextsize: 3em;
  --subtitlesize: 1.5em;
  --normaltextsize: 1.2em;
  --titlefontweight: 700;
  --subtitlefontweight: 500;

  --sectionheight: 865px;
  --sectionpadding: 60px 0 120px 0;
  --sectiontopmargin: 0 0 70px 0;

  /* card */
  --webkit-box-shadow: 10px 10px 43px -2px rgba(179, 179, 179, 1);
  --moz-box-shadow: 10px 10px 43px -2px rgba(179, 179, 179, 1);
  --box-shadow: 10px 10px 43px -2px rgba(179, 179, 179, 1);
}
* {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.7s;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
  text-decoration: none;
  transition: all 0.3s;
}
.dropdown-menu {
  background-color: var(--colorbackgrounddark);
  box-shadow: 5px 5px 5px rgb(61, 55, 55);
}
html {
  min-height: 100%;
  position: relative;
}
body {
  line-height: 1.6;
  min-height: 100vh;

  /* background-color: #1b817c; */
}
.navbar {
  background-color: var(--colorbackgrounddark);
}
.navbar a {
  opacity: 0.8;
  font-weight: 400;
  font-size: var(--normaltextsize);
  color: var(--colortextlight);
  margin-left: 20px;
}
.navbar a.active {
  opacity: 1;
}
.navbar a:hover {
  opacity: 1;
  color: var(--colortextlight);
}
.navbar-toggler {
  /* color: var(--colorbackgroundlight); */
  border-color: rgb(255, 102, 203);
}

.section_moreinfo {
  background-color: var(--colorbackgrounddark);
  padding: var(--sectionpadding);
  color: var(--colortextlight);
}
.moreinfo {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
.moreinfo-left {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.moreinfo-right {
  background-image: url("../1.svg");
  background-color: var(--colorbackgrounddark);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-btn {
  padding: 13px;
  background-color: var(--colorbackgrounddark);
  color: var(--colortextlight);
  border-radius: 99px 99px 99px 99px;
  -webkit-border-radius: 99px 99px 99px 99px;
  -moz-border-radius: 99px 99px 99px 99px;
  border: 3px solid var(--colorbackgrounddark);
  box-shadow: 0px 10px 14px 3px #276873;
  text-shadow: 0px 1px 0px #3d768a;
}
.page-btn:hover {
  opacity: 0.7;
  -moz-transition: all 0.4s ease-out; /* FF4+ */
  -o-transition: all 0.4s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.4s ease-out; /* Saf3.2+, Chrome */
  -ms-transition: all 0.4s ease-out; /* IE10? */
  transition: all 0.4s ease-out;
}
.section-courses {
  margin: auto;
  padding: 0 0 0 120px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.section-courses .card {
  padding: 13px;
  margin: 13px;
  border-radius: 41px 41px 41px 41px;
  -webkit-border-radius: 41px 41px 41px 41px;
  -moz-border-radius: 41px 41px 41px 41px;
  border: 3px outset #1b817c;
}
.section-courses .card:hover {
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
  box-shadow: var(--box-shadow);
}
.courses-top {
  flex-direction: column;
  padding: 32px 0;
}
.courses-top .title {
  color: #1b817c;
  font-weight: 700;
  font-weight: var(--titlefontweight);
}

.section-courses .card_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 20px 20px 0;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  text-align: end;
}
.section-courses .card_bottom .course_membership {
  color: var(--colorbtnlight);
}

.section-courses .right {
  position: relative;
  background-color: aliceblue;
  padding: 32px;
}
.section-courses .right .upcoming-top .title {
  font-weight: 700;
  font-weight: var(--titlefontweight);
  padding-bottom: 32px;
}
.section-courses .right .card {
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: 19px 19px 19px 19px;
  -moz-border-radius: 19px 19px 19px 19px;
  -webkit-border-radius: 19px 19px 19px 19px;
  border: 0px solid #000000;
}
.course_category {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
}

.course_category li {
  font-size: var(--subtitlesize);
  font-weight: var(--subtitlefontweight);
}
.course_category li a {
  color: var(--colortextdark);
  opacity: 0.8;
}
.course_category li a:hover,
.course_category li a:hover,
course_category li a:active {
  color: var(--colortextdark);
  text-decoration: underline;
  opacity: 1;
}
.section-coursedetail {
  padding: var(--sectionpadding);
  height: var(--sectionheight);
}
.section-coursedetail .top-content {
  color: var(--colorbtnlight);
}

.section-lesson {
  padding: var(--sectionpadding);
  height: var(--sectionheight);
}
.section-lesson .lesson_path {
  display: flex;
  color: var(--colorbtnlight);
  justify-content: flex-start;
  padding: 0;
}
.section-lesson .lesson_video {
  width: 100%;
  height: 70%;
}

.section-membership {
  padding: var(--sectionpadding);
  height: var(--sectionheight);
}
.section-membership .membershiptop {
  margin: var(--sectiontopmargin);
  display: flex;
  justify-content: center;
}
.section-membership .membership_plan {
  display: flex;
  margin: 13px;
  justify-content: center;
  border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
border: 1px solid #1b817c;
}
.section-membership .membership_plan .card .card-body {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}
.section-membership .membershipprice {
  
  color: var(--color-dark);
  font-weight: 800;
}
.section-checkout {
  padding: var(--sectionpadding);
  height: var(--sectionheight);
  width: 50%;
  margin: auto;
}

.section-profile {
  padding: var(--sectionpadding);
  height: var(--sectionheight);
}

/* login */
.layout {
  margin-top: 5.4rem;
  margin-bottom: 5.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  margin: auto;
  background-color: var(--colorbackgrounddark);

  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--colortextlight);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--colorbackgroundlight);
}

.layout__body {
  margin: 3rem;
}
.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--colorbackgroundlight)
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--colorbtnlight);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--colortextlight);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--colorbtnlight);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.8rem;
}
.auth .layout__boxHeader {
  text-align: center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}
.btn {
  background-color: var(--colorbackgrounddark);
  color: var(--colorbackgroundlight);
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;

}
.btn--onlight {
  padding: 13px;
  color: var(--colorbackgroundlight);
  background-color: var(--colorbackgrounddark);
  border-radius: 99px 99px 99px 99px;
  -webkit-border-radius: 99px 99px 99px 99px;
  -moz-border-radius: 99px 99px 99px 99px;
  border: 3px solid var(--colorbackgrounddark);
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
}
.card-title{
  font-weight: 700;
}
.btn--onlight:hover{
  opacity: .7; 
    -moz-transition: all 0.4s ease-out;  /* FF4+ */
    -o-transition: all 0.4s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.4s ease-out;  /* IE10? */
    transition: all 0.4s ease-out;  
}
.btn--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-main);
  box-shadow: none;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main);
  color: var(--color-dark);
}

.btn:hover {
  opacity: 0.9;
  color: #fff;
}

.btn--dark {
  background-color: var(--color-dark-light);
  color: var(--color-light);
}

.btn > svg {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
}

/* login end */
footer {
  color: var(--colortextlight);
  background-color: var(--colorbackgrounddark);
}
footer a {
  color: var(--colortextlight);
}
